body{
    background-image: url("image/d/dior1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
background-position: center;
    background-attachment:fixed;
}
.colorText{
    color: #000000;
}
.error{
    color: red;
}
a{
    text-decoration: none
}
