img {
    width: auto;
    height: 200px;
    border-radius: 8%;
}

.col {
    text-align: center;
}
.flex-con {
    display: flex;
    flex-flow: row wrap;
}

.flex-con > div{
    width: 240px;
    margin: 10px;
    line-height: 40px;
}